@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
}

@mixin card-zapatillas() {
    .card-zapatillas {
        margin: 20px;
        border: 1px solid #000;
        border-radius: 6px;
        padding: 20px;
        background-color: #fff;
        position: relative;

        .numero-oferta {
            position: absolute;
            color: #c1121f;
            font-size: 1.2rem;
            padding-bottom: 10px;
            font-weight: bold;
            margin-top: -10px;
        }

        .comprar-zapatilla {
            border-radius: 10px;
            padding: 5px;
        }

        img {
            margin-top: 1rem;
            width: 100%;
            object-fit: cover;
            border-bottom: 1px solid #000;
        }

        h5 {
            border-bottom: 1px solid #000;
            padding: 10px 0;
        }

        .descripcion {
            padding-top: 10px;
            text-transform: uppercase;
        }

        span {
            font-size: 1.4rem;
            padding-bottom: 3rem;
        }
    }
}

body {
    transition: all 0.3s;
    background-color: #fefae0;
}

.d-img {
    height: 100%;
    object-fit: cover;
}

#carrusel {
    margin-bottom: 20px;
    box-shadow: 0 1px 3px #000;

    .carousel-control-prev,
    .carousel-control-next {
        width: 5% !important;
    }

    .d-item {
        height: 350px;

        .descripcion-zapatilla {
            padding: 0;

            i {
                display: flex;
                justify-content: space-between;
                color: #000;
            }

            span {
                display: flex;
                align-items: end;
                color: #000;
                padding: 10px 0;
            }
        }
    }
}

#productos-en-oferta {
    transition: all 0.3s;

    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 60px;
        text-transform: uppercase;
    }

    .container-oferta {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        justify-content: center;

        @include card-zapatillas()
    }
}

#productos-destacados {
    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 60px;
        text-transform: uppercase;
    }

    .container-destacados {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        width: 100%;
        justify-content: center;

        @include card-zapatillas()
    }
}

.titulo-productos,
.subtitulo-productos {
    text-align: center;
    padding: 10px;
}

.titulo-productos {
    margin-top: 1.5rem;
}

.boton-ordenar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    .label-ordenar{
        text-transform: uppercase;
        font-size: 1.2rem;
        padding-right: 1rem;
    }

    #ordenar-productos{
        border: 0;
        border-radius: 5px;
        padding: 0.3rem;
        font-weight: 600;
        background-color: #212529;
        color: #fff;
    }
}

.productos {
    .container-productos {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        width: 100%;
        justify-content: center;

        @include card-zapatillas()
    }
}

#contenedor-texto-carrito {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.carrito-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 2rem;
    justify-content: center;
    margin-left: 30%;

    .eliminar-producto{
        border-radius: 10px;
        padding: 5px;
    }

    .producto-cantidad{
        position: absolute;
        font-size: 1rem;
        padding-bottom: 10px;
        font-weight: bold;
        margin-top: -10px
    }

    @include card-zapatillas()
}


.carrito-contenedor.ocultar {
    display: none;
}

.card-zapatillas.ocultar {
    display: none;
}

#contenedor-texto-carrito.ocultar {
    display: none;
}

.numero-oferta.ocultar {
    display: none;
}

#producto-cantidad.ocultar {
    display: none;
}

.contenedor-finalizar-compra {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contenedor-vaciar-carrito {
        padding: 1rem;

        #vaciar-carrito {
            display: flex;
            justify-content: start;
            padding: 1rem;
            margin: 0;
            border-radius: 10px;
            background-color: #283618;
            text-transform: uppercase;
            font-size: 1.3rem;
            color: #fff;
            border: 0;
            font-weight: 600;
        }
    }

    .contenedor-precio-total {
        margin: 0;
        display: flex;
        padding: 1rem;
        justify-content: space-between;

        #precio-total {
            display: flex;
            background-color: #606c38;
            color: #fbf9ea;
            text-transform: uppercase;
            border-bottom-left-radius: 10px;
            font-weight: 400;
            gap: 1rem;
        }

        #finalizar-compra {
            border: 0;
            font-size: 1.6rem;
            border-top-right-radius: 10px;
            text-transform: uppercase;
            margin: 0;
            background-color: #283618;
            color: #fbf9ea;
            padding: 1.2rem;
            font-weight: 500;
        }
    }

}

.contenedor-vaciar-carrito.ocultar {
    display: none;

    #vaciar-carrito {
        display: none;
    }
}

.contenedor-finalizar-compra.ocultar {
    display: none;


    .contenedor-precio-total {
        display: none;

        #precio-total {
            display: none
        }

        #finalizar-compra {
            display: none;
        }
    }

}

.navbar-nav {
    background-color: #faedcd;
    border-bottom: 1px solid #000;
    justify-content: center;
    align-items: center;
    padding: 25px 0;

    .navbar-lista {
        margin: 0;

        .navbar-items {
            list-style: none;
            display: inline;
            padding: 0 30px;

            a {
                font-size: 1.4rem;
                text-decoration: none;
                color: #000;
                text-transform: uppercase;
                transition: all 0.3s;

                i {
                    padding: 0 7px;
                    font-size: 1.4rem;
                    width: fit-content;
                    height: fit-content;
                    color: #ffffff;
                }

                &:hover {
                    background-color: #8a817c;
                    border-radius: 5px;
                    transition: all 0.3s;
                }
            }
        }

        .modoOscuro {
            border-radius: 4px;
            padding: 5px;
        }
    }
}

.titulo-contacto {
    text-align: center;
    margin-top: 1.5rem;
}

.form-contenedor {
    margin-top: 2rem;

    .form-label {
        font-weight: 600;
    }

    .form-control {
        resize: none;
        background-color: #7a7a7a;
        color: #fff;

        &::placeholder {
            color: #fff;
        }
    }
}

.footer{
    color: #000;
    margin: 1rem 0;
    border-top: 1px solid #000;
    text-align: center;

    .footer-titulo{
        margin-top: 1rem;
        opacity: 40%;
    }

    .footer-texto-contenedor{
        opacity: 40%;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}


// MODO OSCURO
body.modo-oscuro {
    transition: all 0.3s;
    background-color: #000;

    .titulo-productos {
        color: #fff;
    }

    .subtitulo-productos {
        color: #fff;
    }

    .navbar-nav {
        transition: all 0.3s;
        background-color: #000;
        border-bottom: 1px solid #fff;

        .navbar-items {
            a {
                color: #fff;
                transition: all 0.3s;

                &:hover {
                    background-color: #f4f3ee;
                    color: #000;
                    transition: all 0.3s;
                }
            }
        }
    }

    #productos-en-oferta {
        transition: all 0.3s;

        h1 {
            color: #fff;
        }

        .container-oferta {
            .card-zapatillas {
                border: 1px solid #fff;
                background-color: #000;
                color: #fff;

                h5 {
                    padding: 15px 0;
                    border-bottom: 1px solid #fff;
                }
            }

            h4 {
                color: #c75146;
            }
        }
    }

    #productos-destacados {
        transition: all 0.3s;

        h1 {
            color: #fff;
        }

        .container-destacados {
            .card-zapatillas {
                border: 1px solid #fff;
                background-color: #000;
                color: #fff;

                h5 {
                    padding: 15px 0;
                    border-bottom: 1px solid #fff;
                }
            }

            h4 {
                color: #fff;
            }
        }
    }

        .label-ordenar{
            color: #fff;
        }

    .productos {
        .container-productos {
            .card-zapatillas {
                border: 1px solid #fff;
                background-color: #000;
                color: #fff;

                h5 {
                    padding: 15px 0;
                    border-bottom: 1px solid #fff;
                    color: #fff;
                }

                p {
                    color: #fff;
                }

                span {
                    strong {
                        color: #fff;
                    }
                }
            }

            h4 {
                color: #c75146;
            }
        }
    }

    #contenedor-texto-carrito {
        color: #fff;
    }

    .carrito-contenedor {
        .card-zapatillas {
            border: 1px solid #fff;
            background-color: #000;
            color: #fff;
        }

        .producto-cantidad {
            font-weight: 700;
            font-size: 1rem;
        }

        h5 {
            padding: 15px 0;
            border-bottom: 1px solid #fff;
            color: #fff;
        }

        p {
            color: #fff;
        }

        span {
            strong {
                color: #fff;
            }
        }
    }

    .contenedor-finalizar-compra {
        .contenedor-precio-total {
            #precio-total {
                background-color: #dbc5a9;
                color: #000;
            }

            #finalizar-compra {
                background-color: #4b2d12;
            }
        }

        .contenedor-vaciar-carrito {
            #vaciar-carrito {
                background-color: #151c0d;
            }
        }
    }

    .titulo-contacto {
        color: #fff;
    }

    .form-contenedor {
        margin-top: 2rem;

        .form-label {
            color: #fff;
        }

        .form-control {
            background-color: #575757;
            border-color: #575757;
            color: #fff;

            &::placeholder {
                color: #fff;
            }
        }
    }

    .footer{
        color: #fff;
        border-top: 1px solid #fff;
    }
}